<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension-point id="resources" name="Resources" schema="schema/resources.exsd"/>
<extension-point id="publisher" name="Publisher" schema="schema/publisher.exsd"/>
   <extension
         point="com.jaspersoft.studio.repositoryview">
      <repositoryview
            ClassFactory="com.jaspersoft.studio.server.ServerProvider">
      </repositoryview>
      <repositoryview
            ClassFactory="com.jaspersoft.studio.server.ReportUnitProvider">
      </repositoryview>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertyTabs">
      <propertyTabs
            contributorId="com.jaspersoft.studio.Repository">
         <propertyTab
               category="element"
               id="com.jaspersoft.studio.server.ResourceDescriptor.Basic"
               label="Resource">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.server.ResourceDescriptor.Basic"
               category="element"
               id="com.jaspersoft.studio.server.ResourceDescriptor.Properties"
               label="Properties">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertySections">
      <propertySections
            contributorId="com.jaspersoft.studio.Repository">
         <propertySection
               class="com.jaspersoft.studio.server.properties.CommonSection"
               id="com.jaspersoft.studio.server.ResourceDescriptor.Basic.name"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Basic">
            <input
                  type="com.jaspersoft.studio.server.model.MResource">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ReferenceSection"
               id="com.jaspersoft.studio.server.properties.ReferenceSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MReference">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceSection"
               id="com.jaspersoft.studio.server.properties.DatasourceSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasource">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceBeanSection"
               id="com.jaspersoft.studio.server.properties.DatasourceBean"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceBean">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceCustomSection"
               id="com.jaspersoft.studio.server.properties.DatasourceCustom"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceCustom">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceJNDISection"
               id="com.jaspersoft.studio.server.properties.DatasourceJNDI"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceJNDI">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DatasourceJDBCSection"
               id="com.jaspersoft.studio.server.properties.DatasourceJDBC"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.datasource.MRDatasourceJDBC">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.DataTypeSection"
               id="com.jaspersoft.studio.server.properties.DataType"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MDataType">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.FontSection"
               id="com.jaspersoft.studio.server.properties.FontSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRFont">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ImageSection"
               id="com.jaspersoft.studio.server.properties.ImageSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRImage">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.InputControlSection"
               id="com.jaspersoft.studio.server.properties.InputControlSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MInputControl">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.JarSection"
               id="com.jaspersoft.studio.server.properties.JarSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MJar">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.JrxmlSection"
               id="com.jaspersoft.studio.server.properties.JRXMLSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MJrxml">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ListOfValuesSection"
               id="com.jaspersoft.studio.server.properties.ListOfValuesSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MListOfValues">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.QuerySection"
               id="com.jaspersoft.studio.server.properties.QuerySection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRQuery">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ReportUnitSection"
               id="com.jaspersoft.studio.server.properties.ReportUnitSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MReportUnit">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.ResourceBundleSection"
               id="com.jaspersoft.studio.server.properties.ResourceBundleSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MResourceBundle">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.server.properties.StyleTemplateSection"
               id="com.jaspersoft.studio.server.properties.StyleTemplateSection"
               tab="com.jaspersoft.studio.server.ResourceDescriptor.Properties">
            <input
                  type="com.jaspersoft.studio.server.model.MRStyleTemplate">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jaspersoft.studio.server.editor.ReportUnitEditor"
            contributorClass="com.jaspersoft.studio.editor.JrxmlEditorContributor"
            default="false"
            icon="icons/reportunit.png"
            id="com.jaspersoft.studio.server.editor.ReportUnitEditor"
            name="ReportUnit Editor">
      </editor>
   </extension>
   <extension
         point="com.jaspersoft.studio.editorLifecycle">
      <editorLifecycle
            ClassFactory="com.jaspersoft.studio.server.editor.JRSEditorContributor">
      </editorLifecycle>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.jaspersoft.studio"
            name="Jaspersoft Studio">
      </category>
      <wizard
            category="com.jaspersoft.studio"
            class="com.jaspersoft.studio.server.publish.wizard.Publish2ServerWizard"
            id="com.jaspersoft.studio.server.publish"
            name="Export To JasperReports Server">
         <description>
            Export the report to JasperReports Server
         </description>
         <selection
               class="org.eclipse.core.resources.IResource"
               name="*.jrxml">
         </selection>
      </wizard>
   </extension>
   <extension
         id="server.hyperlinkTypes"
         point="com.jaspersoft.studio.hyperlinkTypes">
      <hyperlinkType
            id="com.jaspersoft.studio.server.hyperlink.types.reportExecution"
            type="ReportExecution">
      </hyperlinkType>
   </extension>


</plugin>
