/* Styles for document */
html{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	height:100%;
}
body{
	height:100%;
	margin:0;
	padding:0;
}

#map_container{
	height:100%;
}

/*	Common styles for the context menu */
.gmaps_context_menu{
	background-color:white;
	border:1px solid;
	border-color:#000000;
	display: none;
	position: absolute;
}
.gmaps_context_menu_item{
	padding:3px 24px;
	cursor:pointer; 
	white-space:nowrap;
}
.gmaps_context_menu_item:hover{
	background-color:#CCCCCC;
}
.gmaps_context_menu_head{
	padding:3px 6px;
	background-color: #AABBCC;
}
.gmaps_context_menu_separator{
	background-color:black;
	height:1px;
	margin:0;
	padding:0;
}

/* Custom styles for the common actions on Google Maps */
.menu_item_addmarker {
	background-image: url('../img/addmarker.png');
	background-repeat:no-repeat;
	background-position: 4px center ;
}
.menu_item_zoomin {
	background-image: url('../img/zoom_in.png');
	background-repeat:no-repeat;
	background-position: 4px center ;
}
.menu_item_zoomout {
	background-image: url('../img/zoom_out.png');
	background-repeat:no-repeat;
	background-position: 4px center ;
}
.menu_item_delete {
	background-image: url('../img/delete.png');
	background-repeat:no-repeat;
	background-position: 4px center ;
}
.menu_item_centermap {
	background-image: url('../img/centermap.png');
	background-repeat:no-repeat;
	background-position: 4px center ;
}