		new Label(this, SWT.NONE).setText("$controlLabel");
		Spinner $controlName = new Spinner(this, SWT.BORDER);
		${controlName}.setData(BIND_KEY, "$bindName");
		${controlName}.setData(TYPE_KEY, "int");
		${controlName}.setLayoutData(new GridData(GridData.FILL_HORIZONTAL));
		generatedControls.add($controlName);