<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.jaspersoft.studio.repositoryview">
      <repositoryview
            ClassFactory="com.jaspersoft.studio.kpi.KPIDeployProvider">
      </repositoryview>
   </extension>
   <extension
         point="com.jaspersoft.studio.babel.editor.resourceInput">
      <input
            class="com.jaspersoft.studio.kpi.messages.ResourcePublisher">
      </input>
   </extension>

</plugin>
