<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.jaspersoft.studio.book.editors.JRBookEditor"
            contributorClass="com.jaspersoft.studio.book.editors.JRBookEditorActionBarContributor"
            extensions="jrxml"
            default="false"
            icon="icons/book_icon.png"
            id="com.jaspersoft.studio.book.editors.JRBookEditor"
            name="JasperReports Book Editor">
            <contentTypeBinding
                  contentTypeId="com.jaspersoft.studio.content-types.jrbook">
            </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             file-extensions="jrxml"
             id="com.jaspersoft.studio.content-types.jrbook"
             name="JasperReports Book File"
             priority="low">
       </content-type>
    </extension>
    <extension
          point="com.jaspersoft.studio.templateProviderSupport">
       <templateProvider
             id="com.jaspersoft.studio.book.bundle.BookTemplateProvider"
             providerClass="com.jaspersoft.studio.book.bundle.BookTemplateProvider">
       </templateProvider>
    </extension>
    <extension
          point="com.jaspersoft.studio.components">
       <component
             ClassFactory="com.jaspersoft.studio.book.model.PartComponentFactory">
       </component>
    </extension>
    <extension
          point="com.jaspersoft.studio.properties.propertySections">
       <propertySections
             contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
          <propertySection
                class="com.jaspersoft.studio.book.sections.ReportPartSection"
                id="com.jaspersoft.studio.book.sections.bookPart"
                tab="com.jaspersoft.studio.book.bookpart">
             <input
                   type="com.jaspersoft.studio.book.model.MReportPart">
             </input>
          </propertySection>
          <propertySection
                class="com.jaspersoft.studio.book.sections.PartContainerSection"
                id="com.jaspersoft.studio.book.sections.sectionPart"
                tab="com.jaspersoft.studio.book.sectionpart">
             <input
                   type="com.jaspersoft.studio.book.model.MReportPartContainer">
             </input>
          </propertySection>
          <propertySection
                class="com.jaspersoft.studio.book.sections.PartDataSection"
                id="com.jaspersoft.studio.book.sections.bookPartData"
                tab="com.jaspersoft.studio.book.bookpartdata">
             <input
                   type="com.jaspersoft.studio.book.model.MReportPart">
             </input>
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="com.jaspersoft.studio.properties.propertyTabs">
       <propertyTabs
             contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
          <propertyTab
                afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
                category="element"
                id="com.jaspersoft.studio.book.bookpart"
                image="icons/pages.png"
                label="Pages"
                scrollable="true">
          </propertyTab>
          <propertyTab
                afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Element"
                category="element"
                id="com.jaspersoft.studio.book.sectionpart"
                image="icons/book.png"
                label="Section"
                scrollable="true">
          </propertyTab>
          <propertyTab
                afterTab="com.jaspersoft.studio.book.bookpart"
                category="element"
                id="com.jaspersoft.studio.book.bookpartdata"
                image="icons/data.png"
                label="Data"
                scrollable="true">
          </propertyTab>
       </propertyTabs>
    </extension>
    <extension
          point="com.jaspersoft.studio.babel.editor.resourceInput">
       <input
             class="com.jaspersoft.studio.book.messages.ResourcePublisher">
       </input>
    </extension>
</plugin>
