({
    #if( "$!namespace" != "" )
    namespace: '${namespace}',
    #end
    //optimize: 'none',
    baseUrl: '',
    paths: {
	#foreach( $library in $libraries )
		'$library.getName()': '$library.getFileName()' #if( $foreach.hasNext ), #end	
		
	#end
    }, 
	#if ($hasShim)
    shim: {
	#foreach( $library in $shimlibraries )
		'$library.getName()' : {
		#if ($library.hasDependencies())
			deps: [$library.getDependencies()],
		#end
		exports: '$library.getExportName()'
		} #if( $foreach.hasNext ), #end	
	#end
    },
    #end
    modules: [
        {
            name: "${modulename}",      
            include: [
            #foreach( $include in $includes )
				"$include",	
			#end
			"${modulename}"
            ],
            create: true
        }
    ],
    name: "${modulename}",
    out: "${modulename}.min.js"
})
