<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.jaspersoft.studio.components">
      <component
            ClassFactory="com.jaspersoft.studio.components.barcode.BarcodeComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.list.ListComponentFactory">
      </component>
       <component
            ClassFactory="com.jaspersoft.studio.components.chart.ChartComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.crosstab.CrosstabComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.table.TableComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.map.MapComponentFactory">
      </component>
      <component
            ClassFactory="com.jaspersoft.studio.components.sort.SortComponentFactory">
      </component>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartSection"
               id="com.jaspersoft.studio.components.chart.property.section.Chart"
               tab="com.jaspersoft.studio.components.chart">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.LegendSection"
               id="com.jaspersoft.studio.components.chart.property.section.LegendSection"
               tab="com.jaspersoft.studio.components.chart.legend">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.TitleSection"
               id="com.jaspersoft.studio.components.chart.property.section.TitleSection"
               tab="com.jaspersoft.studio.components.chart.title">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.SubTitleSection"
               id="com.jaspersoft.studio.components.chart.property.section.SubtitleSection"
               tab="com.jaspersoft.studio.components.chart.subtitle">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
         <propertySection
               class="com.jaspersoft.studio.components.chart.property.section.ChartPlotSection"
               id="com.jaspersoft.studio.components.chart.property.section.ChartPlot"
               tab="com.jaspersoft.studio.components.chart.plot">
            <input
                  type="com.jaspersoft.studio.components.chart.model.MChart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
         <propertyTab
               afterTab="com.jaspersoft.studio.editor.JrxmlEditor.Borders"
               category="element"
               id="com.jaspersoft.studio.components.chart"
               image="icons/chart-16.png"
               label="Chart">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart"
               category="element"
               id="com.jaspersoft.studio.components.chart.legend"
               indented="true"
               label="Legend">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.legend"
               category="element"
               id="com.jaspersoft.studio.components.chart.title"
               indented="true"
               label="Title">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.title"
               category="element"
               id="com.jaspersoft.studio.components.chart.subtitle"
               indented="true"
               label="Subtitle">
         </propertyTab>
         <propertyTab
               afterTab="com.jaspersoft.studio.components.chart.subtitle"
               category="element"
               id="com.jaspersoft.studio.components.chart.plot"
               indented="true"
               label="Chart Plot">
         </propertyTab>
      </propertyTabs>
   </extension>

</plugin>
