<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


<!-- adding resource factories -->



	<!-- marker definitions for com.jaspersoft.studio.data.Sql -->


	<!-- Quick Outline -->
    <!-- quickfix marker resolution generator for com.jaspersoft.studio.data.Sql -->
   	<!-- Rename Refactoring -->

  <extension
        point="com.jaspersoft.studio.queryDesigner">
     <queryDesigner
           QueryDesignerClass="com.jaspersoft.studio.data.sql.SQLQueryDesigner"
           language="sql">
     </queryDesigner>
  </extension>

</plugin>
