<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.jaspersoft.studio.components">
      <component
            ClassFactory="com.jaspersoft.studio.components.bridge.BridgeComponentFactory">
      </component>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertyTabs">
      <propertyTabs
            contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
         <propertyTab
               afterTab="com.jaspersoft.studio.components.bridge.tab"
               category="element"
               id="com.jaspersoft.studio.components.bridge.tab"
               image="icons/bridgecomponent-16.png"
               label="Bridge">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="com.jaspersoft.studio.properties.propertySections">
      <propertySections
            contributorId="com.jaspersoft.studio.editor.report.ReportContainer">
         <propertySection
               class="com.jaspersoft.studio.components.bridge.properties.BridgeSection"
               id="com.jaspersoft.studio.components.bridge.properties.BridgeSection"
               tab="com.jaspersoft.studio.components.bridge.tab">
            <input
                  type="com.jaspersoft.studio.components.bridge.model.MBridge">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
