<?xml version="1.0" encoding="UTF-8"?>
<contexts>
   <context id="dataAdapters_wizard_list">
      <description>Hello here is our help for data adapters!!!</description>
      <topic href="html/jasperserver/wizard.html" label="Create a JasperServer connection" />
   </context>
   <context id="jaspersoftserver">
      <description>Hello here is our help for jasperserver</description>
      <topic href="html/jasperserver/wizard.html" label="Create a JasperServer connection" />
   </context>
</contexts>
