<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
    <contexts
            file="context.xml"
            plugin="com.jaspersoft.studio.doc">
    </contexts>
</extension>
    <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.jaspersoft.studio.cheatsheets.repository"
            name="Jasper Reports Developement">
      </category>
      <cheatsheet
            category="com.jaspersoft.studio.cheatsheets.repository"
            composite="false"
            contentFile="cheatsheets/content.xml"
            id="com.jaspersoft.studio.cheatsheets.datasource"
            name="Manage Data Connections">
      </cheatsheet>
      <cheatsheet
            category="com.jaspersoft.studio.cheatsheets.repository"
            composite="false"
            contentFile="cheatsheets/designreports.xml"
            id="com.jaspersoft.studio.cheatsheets.designreport"
            name="Start Designing Reports">
      </cheatsheet>
      <cheatsheet
            category="com.jaspersoft.studio.cheatsheets.repository"
            composite="false"
            contentFile="cheatsheets/runreport.xml"
            id="com.jaspersoft.studio.cheatsheets.runreport"
            name="Preview and Run Reports">
      </cheatsheet>
      <cheatsheet
           	category="com.jaspersoft.studio.cheatsheets.repository"
            composite="false"
            contentFile="cheatsheets/chartstep.xml"
            id="com.jaspersoft.studio.cheatsheets.createchart"
            name="Create a Chart">
      </cheatsheet>
   </extension>

</plugin>
